
.landing-page {
  border: 1px solid black;
  width: 70%;
  margin: 3rem auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page h3 {
  padding: 0.5rem;
}
.landing-page img {
  padding: 0.5rem;
  border: 1px solid green;
  max-height: 200px;
  height: 8rem;
  width: 20%;
}
